In [116]:
import pandas as pd
import pathlib
import re
import json
import numpy as np

In [117]:
MONSTERS = ['Ghouls', 'Ghosts', 'Vampires', 'Zombies', 'Witches', 'Trolls', 'Ghoul', 'Ghost', 'Vampire', 'Zombie', 'Witch', 'Troll']
monster_str = '|'.join(MONSTERS)

In [118]:
monster_plural = {
'Ghoul':'Ghouls', 
'Ghost':'Ghosts', 
'Vampire':'Vampires', 
'Zombie':'Zombies', 
'Witch':'Witches', 
'Troll':'Trolls'
}

In [119]:
monster_str

'Ghouls|Ghosts|Vampires|Zombies|Witches|Trolls|Ghoul|Ghost|Vampire|Zombie|Witch|Troll'

In [127]:
with open('data/scary-book.txt', 'r') as f:
    data_txt = f.read()

In [128]:
data_txt

'Two before narrow not relied how except moment myself. Dejection assurance mrs led certainly. So gate at no only none open. Betrayed at properly it of graceful on. Dinner abroad am depart ye turned hearts as me wished. Therefore allowance too perfectly gentleman supposing man his now. Families goodness all eat out bed steepest servants. Explained the incommode sir improving northward immediate eat. Man denoting received you sex possible you. Shew park own loud son door less yet. 1 Troll is sleeping next to a log.\n\nOf on affixed civilly moments promise explain fertile in. Assurance advantage belonging happiness departure so of. Now improving and one sincerity intention allowance commanded not. Oh an am frankness be necessary earnestly advantage estimable extensive. Five he wife gone ye. Mrs suffering sportsmen earnestly any. In am do giving to afford parish settle easily garret. 1 Troll is sleeping next to a log.\n\nTheir could can widen ten she any. As so we smart those money in. Am wrote up whole so tears sense oh. Absolute required of reserved in offering no. How sense found our those gay again taken the. Had mrs outweigh desirous sex overcame. Improved property reserved disposal do offering me. 1 Troll is sleeping next to a log.\n\nAnd produce say the ten moments parties. Simple innate summer fat appear basket his desire joy. Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance. And excellence partiality estimating terminated day everything.\n\n6 Vampires hanging upside down. No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her. Rooms he doors there ye aware in by shall. Education remainder in so cordially. His remainder and own dejection daughters sportsmen. Is easy took he shed to kind.\n\nIn reasonable compliment favourable is connection dispatched in terminated. Do esteem object we called father excuse remove. So dear real on like more it. Laughing for two families addition expenses surprise the. If sincerity he to curiosity arranging. Learn taken terms be as. Scarcely mrs produced too removing new old.\n\nAbilities forfeited situation extremely my to he resembled. Old had conviction discretion understood put principles you. Match means keeps round one her quick. She forming two comfort invited. Yet she income effect edward. Entire desire way design few. Mrs sentiments led solicitude estimating friendship fat. Meant those event is weeks state it to or. Boy but has folly charm there its. Its fact ten spot drew.\n\nDrawings me opinions returned absolute in. Otherwise therefore sex did are unfeeling something. Certain be ye amiable by exposed so. To celebrated estimating excellence do. Coming either suffer living her gay theirs. Furnished do otherwise daughters contented conveying attempted no. Was yet general visitor present hundred too brother fat arrival. Friend are day own either lively new.\n\nRemain valley who mrs uneasy remove wooded him you. Her questions favourite him concealed. We to wife face took he. The taste begin early old why since dried can first. Prepared as or humoured formerly. Evil mrs true get post. Express village evening prudent my as ye hundred forming. Thoughts she why not directly reserved packages you. Winter an silent favour of am tended mutual. 1 Zombie walks alone.\n\nUp branch to easily missed by do. Admiration considered acceptance too led one melancholy expression. Are will took form the nor true. Winding enjoyed minuter her letters evident use eat colonel. He attacks observe mr cottage inquiry am examine gravity. Are dear but near left was. Year kept on over so as this of. She steepest doubtful betrayed formerly him. Active one called uneasy our seeing see cousin tastes its. Ye am it formed indeed agreed relied piqued. 1 Zombie walks alone.\n'

In [129]:
count_str = re.findall(rf'(\d+)\s+({monster_str})', data_txt, flags = re.IGNORECASE | re.X)
count_str

[('1', 'Troll'),
 ('1', 'Troll'),
 ('1', 'Troll'),
 ('6', 'Vampires'),
 ('1', 'Zombie'),
 ('1', 'Zombie')]

In [130]:
sum(count_str)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [145]:
cl = [Counter({k.capitalize():int(v)}) for v,k in count_str]
cl

[Counter({'Troll': 1}),
 Counter({'Troll': 1}),
 Counter({'Troll': 1}),
 Counter({'Vampires': 6}),
 Counter({'Zombie': 1}),
 Counter({'Zombie': 1})]

In [147]:
sum([Counter({k.capitalize():int(v)}) for v,k in count_str], Counter())

Counter({'Troll': 3, 'Vampires': 6, 'Zombie': 2})

In [46]:
def count_monsters(text):
    count_str = re.findall(rf'(\d+)\s+({monster_str})', text, flags = re.IGNORECASE | re.X)
    return {k.capitalize():int(v) for v,k in count_str}

In [87]:
df = pd.read_xml('data/scary-castle.xml')
df

   monster  amount                                        description
0    Witch       5           All the witches are laughing in the hall
1    Ghoul       5  The trolls are partying with the ghouls in the...
2    Troll       5                      Troll love it in the  kitchen
3  Zombies      99  Someone locked the Zombies in the basement, pl...
4      Bat      50                     The attic is just full of bats
5    Troll       1                      There a Troll in the dungeon!

In [88]:
df2 = df[df.monster.str.contains(monster_str, case=False)]
df2

   monster  amount                                        description
0    Witch       5           All the witches are laughing in the hall
1    Ghoul       5  The trolls are partying with the ghouls in the...
2    Troll       5                      Troll love it in the  kitchen
3  Zombies      99  Someone locked the Zombies in the basement, pl...
5    Troll       1                      There a Troll in the dungeon!

In [89]:
df_sum = df2.groupby('monster').agg({'amount':np.sum})#.reset_index().set_index('monster')
df_sum

         amount
monster
Ghoul         5
Troll         6
Witch         5
Zombies      99

In [90]:
df_sum.T.to_dict('records')[0]

{'Ghoul': 5, 'Troll': 6, 'Witch': 5, 'Zombies': 99}

In [91]:
def count_monsters(df):
    return df[df.monster.str.contains(monster_str, case=False)].amount.sum()

In [96]:
with open('data/scary-tomb.json', 'r') as f:
    data = json.load(f)

In [93]:
def count_monsters(data):
    return sum(1 if isinstance(data[x], dict) else len(data[x]) for x in data.keys() if x.lower() in monster_str.lower())

In [101]:
{x: 1 if isinstance(data[x], dict) else len(data[x]) for x in data.keys() if x.lower() in monster_str.lower()}

{'Troll': 4, 'Witch': 1}

In [100]:
x

'dsdsc'

In [120]:
from pathlib import Path

In [121]:
p = Path("data/")

In [122]:
f = list(p.glob('*.*'))[-1]

In [123]:
f.suffix

'.txt'

In [126]:
data_dir = Path('data/')

files= data_dir.glob('*.*')
list(files)

[PosixPath('data/bat-cave.txt'),
 PosixPath('data/scary-tomb.json'),
 PosixPath('data/scary-castle.xml'),
 PosixPath('data/scary-book.txt')]

In [105]:
from collections import Counter

In [106]:
a = Counter({'Troll': 4, 'Witch': 1})
b = Counter({'Troll': 1, 'Vampires': 6, 'Zombie': 1})

In [107]:
a+b

Counter({'Troll': 5, 'Witch': 1, 'Vampires': 6, 'Zombie': 1})

In [108]:
a = {'Zombies': 99, 'Troll': 11, 'Ghosts': 10, 'Ghouls': 9, 'Witch': 6, 'Vampires': 6, 'Ghoul': 5, 'Witches': 2, 'Zombie': 1}

{'Zombies': 1,
 'Trolls': 11,
 'Ghosts': 10,
 'Ghouls': 5,
 'Witches': 2,
 'Vampires': 6}

In [148]:
from numba import njit